<div class="carousel_wrapper">
  {% for block in section.blocks %}
  <div class="carousel_item">
	{{ block.settings.carousel_item | img_url: '300x' | img_tag }}
  </div>
  {% endfor %}
</div>

{% stylesheet %}
.carousel_wrapper {
	--foo: hotpink;
}
.carousel {
	background-color: pink;
}
{% endstylesheet %}

{% javascript %}
	const items = document.querySelectorAll('.carousel_item');
	items.forEach(item => {
		item.addEventListener('click', (e) => {
			console.log(item.classList)
		})
	})
{% endjavascript %}

{% schema %}
{
  "name": "Carousel",
	"class": "carousel",
	"blocks": [
		{
			"name": "carousel item",
			"type": "carousel_item",
			"settings": [
				{
					"type": "image_picker",
					"id": "carousel_item",
					"label": "this is a carousel item"
				}
			]
		}
	]
  }
{% endschema %}

