<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

{% style %}

.swiper-container {
	width: 500px;
	height: 300px;
}

{% endstyle %}
<div class="swiper-container">
	<div class="swiper-wrapper">
		{% for block in section.blocks %}
			<div class="swiper-slide">
			{{ block.settings.carousel_item | img_url: '300x200' | img_tag }}
			</div>
		{% endfor %}
	</div>
</div>

{% javascript %}

const swiper = new Swiper('.swiper-container', {
	loop: true,
	autoplay: {
		delay: 3000
	}
})

{% endjavascript %}

{% schema %}
{
  "name": "Carousel",
	"class": "carousel",
	"blocks": [
		{
			"name": "carousel item",
			"type": "carousel_item",
			"settings": [
				{
					"type": "image_picker",
					"id": "carousel_item",
					"label": "this is a carousel item"
				}
			]
		}
	]
  }
{% endschema %}

