<ul>
{% for link in linklists.main-menu.links %}
  <li>{{ link.title | link_to: link.url, link.title }}</li>
{% endfor %}
</ul>


{% for tag in product.tags %}
  {{ tag }}
{% endfor %}

{{ content_for_index }}
