<ul>
{% for link in linklists.main-menu.links %}
  <li>{{ link.title | link_to: link.url, link.title }}</li>
{% endfor %}
</ul>

{% capture hello %}
hi, nice to meet to you
{% endcapture %}

<p>{{- hello -}}</p>

<h2>{{paginate.page_size}}</h2>
{{ content_for_index }}
