<ul>
{% for link in linklists.main-menu.links %}
  <li>{{ link.title | link_to: link.url, link.title }}</li>
{% endfor %}
</ul>

<div>
  {% form 'new_comment', article %}
  {% endform %}
</div>

{{ content_for_index }}
