<ul>
{% for link in linklists.main-menu.links %}
  <li>{{ link.title | link_to: link.url, link.title }}</li>
{% endfor %}
</ul>


<p>{{ page_title }}</p>

{% style %}
.foo {
	color: hotpink;
}
{% endstyle %}

{{ content_for_index }}
