<ul>
{% for link in linklists.main-menu.links %}
  <li>{{ link.title | link_to: link.url, link.title }}</li>
{% endfor %}
</ul>

{% assign arr = ["a","b","c"] %}
{% for item in arr %}
{{ item }}
{% endfor %}


{{ content_for_index }}
