<ul>
{% for link in linklists.main-menu.links %}
  <li>{{ link.title | link_to: link.url, link.title }}</li>
{% endfor %}
</ul>

{% assign arr = [{name: "a"}, {name: "b"}, {name: "c"}] %}

<table>
{% tablerow item in arr %}
  {{ item.name }}
{% endtablerow%}
</table>

{{ content_for_index }}
