<ul>
{% for link in linklists.main-menu.links %}
  <li>{{ link.title | link_to: link.url, link.title }}</li>
{% endfor %}
</ul>


<select name="country">
  {{ all_country_option_tags }}
</select>

{{ content_for_index }}
