<ul>
{% for link in linklists.main-menu.links %}
  <li>{{ link.title | link_to: link.url, link.title }}</li>
{% endfor %}
</ul>

{% assign name = 'eddie'%}
{% for c in name | split: '' %}
{{c}}
{% endfor %}

{{ content_for_index }}
