<ul>
{% for link in linklists.main-menu.links %}
  <li>{{ link.title | link_to: link.url, link.title }}</li>
{% endfor %}
</ul>


<p>{{ page_title }}</p>


{% paginate collection.products by 5 %}
  {% for product in collection.products %}
    <!--show product details here -->
  {% endfor %}
{% endpaginate %}


{{ content_for_index }}
