<ul>
{% for link in linklists.main-menu.links %}
  <li>{{ link.title | link_to: link.url, link.title }}</li>
{% endfor %}
</ul>

<div>{{ 'foo.css' | asset_url }} - {{ 'a.jpg' | img_url }}</div>

{{ content_for_index }}
