<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
        {{ "The cat came back the very next day" | truncatewords: 5 | upcase }}
      </div>
    </div>
  </div>
</div>
